<% extend('../layout/default') %> <%- include('../components/nav.ejs') %>

<div class="container mt-5">
  <div class="row">
    <div class="col">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th width="1%" scope="col">#</th>
            <th scope="col">Playlist</th>
            <th width="10%" scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% if (tracks.length > 0) { tracks.forEach((track, index) => { %>
          <tr>
            <th scope="row"><%= index + 1 %></th>
            <td><%= track.location %></td>
            <td>
              <a
                href="<%= SITE_URL %>/tracks/<%= track.id %>"
                type="button"
                class="btn btn-primary"
                >View</a
              >
            </td>
          </tr>
          <% })} else { %>
          <tr>
            <td scope="row" colspan="3" class="text-center">No data found</td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
