<% extend('../../layout/default') %> <%- include('../../components/nav.ejs') %>

<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-center">My Music Player</h1>

      <table id="table_<%= id %>" class="table">
        <thead>
          <tr>
            <th scope="col">Playlist</th>
            <th scope="col"></th>
            <th scope="col">Track Title</th>
            <th scope="col">Track Position</th>
            <th scope="col">Track Duration</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr id="track_<%= id %>">
            <td scope="row"><%= location %></td>
            <td></td>
            <td class="title"><%= title %></td>
            <td class="position"><%= position %></td>
            <td class="duration"><%= duration %></td>
            <td>
              <div class="btn-group" role="group">
                <button
                  type="button"
                  onclick="pause(this, '<%= playlist_uid %>', '<%= user_id %>')"
                  class="btn btn-primary"
                >
                  <i class="fas fa-pause"></i>
                </button>
                <button
                  type="button"
                  onclick="skip('<%= playlist_uid %>', '<%= user_id %>')"
                  class="btn btn-primary"
                >
                  Skip
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" defer>
  var socket = io()

  socket.on('trackCreated', function (track) {
    var tbody = document.querySelector(`#table_${track.playlist_uid} tbody`)
    tbody.innerHTML =
      tbody.innerHTML +
      `
        <tr id="track_${track.id}">
          <td scope="row">${track.location}</td>
          <td></td>
          <td class="title">${track.title}</td>
          <td class="position">${track.position}</td>
          <td class="duration">${track.duration}</td>
          <td>
            <div class="btn-group" role="group">
              <button type="button" onclick="pause(this, '${track.playlist_uid}', '${track.user_id}')" class="btn btn-primary"><i class="fas fa-pause"></i></button>
              <button type="button" class="btn btn-primary">Skip</button>
            </div>
          </td>
        </tr>
        `
  })

  socket.on('trackUpdated', function (track) {
    document.querySelector(`#track_${track.id} .title`).innerText = track.title
    document.querySelector(`#track_${track.id} .position`).innerText =
      track.position
    document.querySelector(`#track_${track.id} .duration`).innerText =
      track.duration
  })

  const pause = async (elem, id, uid) => {
    await fetch(`<%= LOOPBACK_URL %>/tracks/${id}/pause?uid=${uid}`)
      .then((response) => response.json())
      .then((result) => {
        elem.classList.add('btn-primary')
        elem.classList.remove('btn-danger')
        elem.innerHTML = '<i class="fas fa-pause"></i>'

        if (result.pause) {
          elem.classList.remove('btn-primary')
          elem.classList.add('btn-danger')
          elem.innerHTML = '<i class="fas fa-play"></i>'
        }
      })
  }

  const skip = async (id, uid) => {
    fetch(`<%= LOOPBACK_URL %>/tracks/${id}/skip?uid=${uid}`)
  }
</script>
