<% extend('../../layout/default') %>

<div class="container mt-5">
  <div class="row">
    <div class="offset-3 col-6">
      <div class="card">
        <div class="card-header">Login User</div>
        <div class="card-body">
          <% if (messages.error) { %>
          <div class="alert alert-danger" role="alert">
            <%= messages.error %>
          </div>
          <% } %>

          <form method="post" action="/login">
            <div class="form-group">
              <label for="email">Email address</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Enter email"
                required
              />
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="Enter Password"
                required
              />
            </div>

          

            <button type="submit" class="btn btn-primary">Submit</button>

            <a href="/register" class="btn btn-link">Register User</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" defer></script>
