<% extend('../../layout/default') %>

<div class="container mt-5">
  <div class="row">
    <div class="offset-4 col-4">
      <div class="card">
        <div class="card-header text-center">QR Code</div>

        <div class="card-body text-center">
          <img src="<%= qrCodeUrl %>" />

          <div class="my-3">or</div>

          <div class="alert alert-primary" role="alert"><%= secret %></div>

          <a href="<%= SITE_URL %>/login" class="btn btn-primary">Login</a>
        </div>

        <div class="card-footer text-center">Save QR code or Secret key</div>
      </div>
    </div>
  </div>
</div>
