<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <span class="navbar-brand">My Music Player</span>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="<%= SITE_URL %>/">
          <i class="fas fa-home"></i> Home
        </a>
      </li>
    </ul>

    <form
      method="POST"
      action="<%= SITE_URL %>/logout"
      class="form-inline my-2 my-lg-0"
    >
      <button class="btn btn-danger my-2 my-sm-0" type="submit">
        <i class="fas fa-sign-out-alt"></i> Logout
      </button>
    </form>
  </div>
</nav>
