<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Music Player</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- CSS Scripts -->
    <% if (typeof css !== 'undefined' && Array.isArray(css)) {
    css.forEach(function(file) { %>
    <link rel="stylesheet" src="<%= file %>" />
    <% })} %>
  </head>
  <body>
    <%- content %>

    <!-- JS Scripts -->
    <% if (typeof js !== 'undefined' && Array.isArray(js)) {
    js.forEach(function(file) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% })} %>
  </body>
</html>
