<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Music Player</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="text-center">MPlayer</h1>

          <% if (playlist.length > 0) { %>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Playlist</th>
                <th scope="col">Current Track</th>
                <th scope="col">Counter</th>
                <th scope="col">User</th>
                <th width="1%" scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <% playlist.forEach((pl) => { %>
              <tr id="playlist_<%= pl.uid %>">
                <td scope="row"><%= pl.name %></td>
                <td class="currentTrack"></td>
                <td>
                  <span class="badge badge-primary badge-pill d-none">0</span>
                </td>
                <td>
                  <select class="user">
                    <option></option>
                    <% users.forEach(user => { %>
                    <option value="<%= user.id %>">
                      <%= user.name %>(<%= user.email %>)
                    </option>
                    <% }) %>
                  </select>
                </td>
                <td>
                  <button
                    onclick="play('<%= pl.uid %>')"
                    class="btn btn-sm btn-primary float-right"
                  >
                    Play
                  </button>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
          <% } %>
        </div>
      </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" defer>
      function play(uid) {
        var userId = document.querySelector(`#playlist_${uid} .user`).value

        if (!userId) {
          return alert('No user selectd!')
        }

        fetch(`<%= SITE_URL %>/play/${uid}`, {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({ userId: userId }),
        })
      }

      var socket = io()

      socket.on('counter', (data) => {
        var badge = document.querySelector(`#playlist_${data.uid} .badge`)
        badge.classList.add('d-none')

        if (data.counter >= 0) {
          badge.classList.remove('d-none')
        }

        badge.innerText = data.counter

        var currentTrack = document.querySelector(
          `#playlist_${data.uid} .currentTrack`
        )
        currentTrack.innerText = data.currentTrack
      })
    </script>
  </body>
</html>
